@font-face {
  font-family: 'league-spartan-bold';
  src: url('../fonts/league-spartan-bold.otf') format('truetype');
}

@import url(../bower_components/components-font-awesome/css/font-awesome.css);
@import 'https://fonts.googleapis.com/css?family=Lato';

body {
  /*background-color: #000000;*/
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #a1a1a1;
  font-family: 'Lato', sans-serif;
  height: 1600px;
  border: 0;
  padding: 6em 4em 4em 4em;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Nav bar*/
#navbar {
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.5em;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.7;
}

nav-item {
  margin-right: 5%;
  text-decoration: none;
  font-size: 1.3em;
}

nav-item:before {
  text-transform: none !important;
}

#navbar:hover {
  opacity: 1;
}

nav-item:hover {
  color: #EC008C !important;
  text-decoration: none;
}

nav-item:focus{
  color: #EC008C;
  opacity: 1;
  outline: none;
}

nav-item:last-child {
  margin-right: 0;
}

h1 {
  font-family: 'league-spartan-bold', sans-serif;
  color: #FFFFFF;
}

/* Pages */
.home-container {
  overflow: hidden;
  position: absolute;
  left: 70px;
  -webkit-transition:all cubic-bezier(.62,.03,.49,.99) 2s;
  -moz-transition:all cubic-bezier(.62,.03,.49,.99) 2s;
  -ms-transition:all cubic-bezier(.62,.03,.49,.99) 2s;
  -o-transition:all cubic-bezier(.62,.03,.49,.99) 2s;
  transition:all cubic-bezier(.62,.03,.49,.99) 2s;
  padding: 1% 0 10% 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.home-container.ng-hide {
  -webkit-animation: tabs 0.5s;
  -moz-animation: tabs 0.5s;
  -o-animation: tabs 0.5s;
  animation: tabs 0.5s;
  left: -20000px;
}
/**/
  /* Change Page Animation */
  @-webkit-keyframes tabs {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes tabs {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }

  @-o-keyframes tabs {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes tabs {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }

  /* Fade In Animation*/
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }


/* Lines */
.line {
  background-color: #FDBA4D;
  height: 2px;
  width: 100%;
}

.verticalLine {
  background-color: #ff0000;
  float: right;
}

/* Text */
.text {
  max-width: 100%;
}

/* Card */
.card {
  max-width: 300px;
  margin: 15px;
  margin-left: 0;
  box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #0F0F0F;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
}

.card-content {
  padding: 20px;
}

.workSub {
  max-width: 300px;
  height: 80px;
}

/* Icon */
.icon {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -o-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  position: relative;
  border-bottom: none;
  color: #EC008C;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon:hover {
  border-bottom-color: transparent;
  color: #EC008C !important;
  text-decoration: none;
}

.icon > .label {
  display: none;
}


/* List */
ul {
  list-style: none;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

  ul li {
    padding-left: 0.5em;
  }

  ul.icons {
    cursor: default;
    padding-left: 0;
  }

    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0;
    }

      ul.icons li:last-child {
        padding-right: 0;
      }

      ul.icons li .icon:before {
        font-size: 1.5em;
      }

      ul.icons li a {
        color: inherit;
      }

.title {
  padding-left: 0px;
  font-weight: bold;
}

.image {
  max-width: 100%;
}

/* Footer */
#footer {
  width: 100%;
  height: 10%;
  background-color: #0F0F0F;
  /*background-image: url('../img/background.jpg');*/
  color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  bottom: 0em;
}

  #footer > .icons {
    margin: 0.5em 0 0.5em 0;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
  }

  #footer > .icons > li {
    display: inline-block;
    padding: 0 1em 0 0;
  }

  #footer > .icons:hover {
    opacity: 1;
  }

  #footer #copyright {
    color: rgba(255, 255, 255, 0.4);
    list-style: none;
    padding: 0;
  }

  @media screen and (max-width: 1680px) {

    body {
      padding: 10em 3.5em 3.5em 3.5em;
      height: 1300px;
    }
    .card {
      padding: auto;
    }
    #footer {
      padding-bottom: 1.2em;
      padding-left: 3.5em;
      left: 0em;
    }
    .text {
      max-width: 700px;
      margin-right: 70px;
    }
  }

  @media screen and (max-width: 736px) {

    body {
      padding: 12em 2em 2em 2em;
      height: 2300px;
    }
    .home-container {
      padding-left: 0;
      left: auto;
    }
    #footer {
      padding-bottom: 0.7em;
      padding-left: 2em;
    }
    #footer > .icons {
      margin: 0.5em 0 0.5em 0;
    }
    .text {
      max-width: 700px;
      margin-right: 70px;
    }
  }

  @media screen and (max-height: 640px) {

    body {
      padding: 12em 1.25em 1.25em 1.25em;
      height: 2200px;
    }
    .home-container {
      padding-left: 0;
    }
    .card {
      padding: auto;
    }
    #footer {
      margin: 1em 0 0 0;
      padding-left: 0;
      padding-bottom: 1em;
    }
    #footer > .icons {
      margin: 0.3em 0 0.5em 0;
    }
    .text {
      max-width: 700px;
      margin-right: 70px;
    }

  }

  @media screen and (max-width: 360px) {

    body {
      padding: 4em 1.25em 1.25em 1.25em;
      height: 2200px;
    }
    .home-container {
      padding-left: 0;
    }
    #footer {
      padding-bottom: 1em;
      padding-left: 1.25em;
    }
    #footer > .icons {
      margin: 0.2em 0 0.5em 0;
    }
  }