/*
Main background color : #212121

*/

.home-container {
  background-color: #616161;
  color: #FFFFFF;
}

.card {
  background-color: #424242;
}

.wrapper {
  margin: 20px;
  padding: 10px;
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }