<!DOCTYPE html>
<html lang="en" ng-app="PersonalWebApp" ng-cloak>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Rex S.</title>

  <!-- Angular Libraries-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Custom JS -->
  <script src="js/app.js"></script>
  <script src="js/controllers/nav_controller.js"></script>
  <script src="js/controllers/home_controller.js"></script>
  <script src="js/controllers/works_controller.js"></script>
  <script src="js/controllers/contact_controller.js"></script>
</head>



<!-- HTML BODY -->
<body>
  <nav-bar ng-controller="NavCtrl" class="padding" selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <nav-item ng-click="toHome()" name="home">Home</nav-item>
    <nav-item ng-click="toAboutMe()" name="aboutme">Me</nav-item>
    <nav-item ng-click="toWorks()" name="works">Works</nav-item>
    <nav-item ng-click="toContactMe()" name="contactme">Contact</nav-item>
  </nav-bar>
<!--   <div class="ext-content">
    External content for `<span>{{currentNavItem}}</span>`
  </div>
 -->

  <!-- Home page -->
  <!-- Add ng-show="{{toHome}}" -->
  <section id="home" class="home-container" ng-controller="HomeCtrl">
    <h1>REX SHUM</h1>
    <p>
      Junior Web Developer with network sales background who understands business and business operations. A result-driven individual. Passionate and curious about the world of technology and business design.
    </p>
  </section>

  <!-- About Me -->
  <!-- Add ng-show="{{toAboutMe}}" -->
  <section id="aboutme" class="home-container">
    <h1>Me</h1>
    <p>
      I am a Junior Web Developer born in Hong Kong with 5 years working experience from administration to account management in large corporates. Learnt from working experience and travelling over 50 countries, I believe that 'Communication is the door. Empathy is the key' to unleash the maximum potential of a team. <br>
      Hope that meeting new people & continuous learning can inspire me to solve various problems.
    </p>
  </section>

  <!-- Past Work -->
  <!-- Add ng-show="{{toWorks}}" -->
  <section id="works" class="home-container" ng-controller="WorksCtrl">
    <h1>Works</h1>
    <div class="padding"
    layout-xs="column"
    layout="row"
    flex-xs flex-gt-xs="50"
    class="cards wrapper"
    ng-repeat="work in works">
      <card id="workcards" theme-watch raised>
        <card-title>
          <card-title-text>
            <h3 class="worktitle">{{work.title}}</h3>
            <h4 class="worksub">{{work.subtitle}}</h4>
          </card-title-text>
          <card-title-media>
            <!-- how to set image responsive, now always 100% -->
            <img class="image" src="{{work.img_url}}" width="100%"></div>
          </card-title-media>
        </card-title>
      </card>
    </div>
  </section>

  <!-- Contact Me -->
  <!-- Add ng-show="{{toContactMe}}" -->
  <section id="contact" class="home-container" ng-controller="ContactCtrl">
    <h1>Let's Chat</h1>

    <!-- Need to set no dots -->
    <!-- better way to set a href & no change text color -->
    <ul layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <li><i class="mobile">Mobile</i> +852 97362136</li>
      <li><i class="email">email</i> <a href="mailto:rexshum@yahoo.com.hk">rexshum@yahoo.com.hk</a></li>
      <li><i class="github">github</i> <a href="http://www.github.com/nalgritz">github.com/nalgritz</a></li>
      <li><i class="linkedin">linkedin</i> <a href="">linkedin.com/rex-shum---xxxxxx</a></li>
    </ul>
  </section>

</body>
</html>
