<!DOCTYPE html>
<html lang="en" ng-app="PersonalWebApp" ng-cloak>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <title>Rex S.</title>

  <!-- Angular Libraries-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>

  <!-- Font Families -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Custom JS -->
  <script src="js/app.js"></script>
  <script src="js/controllers/home_controller.js"></script>
  <script src="js/controllers/works_controller.js"></script>
  <script src="js/controllers/contact_controller.js"></script>
</head>



<!-- HTML BODY -->
<body ng-controller="HomeCtrl">
  <div>
    <nav-bar id="navbar" class="padding" selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <nav-item ng-click="page = 'home'" name="home">HOME</nav-item>
      <nav-item ng-click="page = 'aboutMe'" name="aboutme">ME</nav-item>
      <nav-item ng-click="page = 'works'" name="works">WORKS</nav-item>
    </nav-bar>
  </div>
    <div class="line"></div>

  <!-- Home page -->
  <section id="home" ng-show="page == 'home'" class="home-container ng-show">
    <h1>REX SHUM</h1>
    <p class="text">
      Web Developer with network sales background who understands business and business operations. Passionate and curious about the world of technology and business design.
    </p>
  </section>

  <!-- About Me -->
  <section id="aboutme" ng-show="page == 'aboutMe'" class="home-container ng-show">
    <h1>ABOUT ME</h1>
    <p class="text">
      I am a Junior Web Developer born in Hong Kong with 5 years working experience from administration to account management in large corporates. Learnt from working experience and travelling over 50 countries, I believe that 'Communication is the door. Empathy is the key' to unleash the maximum team potential. </br>
      Meeting new people & continuous learning can inspire me to solve various problems.
    </p>

    <div id="techlist" class="list">
      <ul>
        <li class="title">Technologies</li>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>Boostrap 3</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>Angular 1</li>
        <li>Ionic framework</li>
        <li>NodeJS</li>
        <li>Ruby on Rails</li>
        <li>MongoDB</li>
        <li>Postgres SQL</li>
      </ul>
    </div>
    <div id="businesslist" class="list">
      <ul>
        <li class="title">Business</li>
        <li>Account Management</li>
        <li>Business Idea Scoping</li>
      </ul>
    </div>
  </section>

  <!-- Past Work -->
  <section id="works" ng-controller="WorksCtrl" ng-show="page == 'works'" class="home-container ng-show">
    <h1>WORKS</h1>
    <div class="cards" layout="row" layout-xs="column" layout-wrap>
      <div flex="auto" ng-repeat="work in works">
        <div class="card">
          <div class="card-content">
            <div>
              <h3 class="workTitle">{{work.title}}</h3>
              <h4 class="workSub">{{work.subtitle}}</h4>
            </div>
            <div>
              <!-- how to set image responsive, now always 100% -->
              <img class="image" src="{{work.img_url}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Me -->
  <footer id="footer" ng-controller="ContactCtrl">
    <ul id="contact" class="icons">
      <li><a href="tel: +85297362136" class="icon fa-phone"></a></li>
      <li><a href="http://www.github.com/nalgritz" class="icon fa-github"></a></li>
      <li><a href="mailto:rexshum@yahoo.com.hk" class="icon fa-envelope-o"></a></li>
    </ul>
    <ul class="copyright">
      <li class="copyright">&copy; Rex S. Production</li>
    </ul>
  </footer>

</body>
</html>